/* Root section that adds variables for style elements in the page */
:root {
    --bg-color: rgb(150, 148, 148);
    --font-AM: 'Teko';
    --font-W: 'Righteous';
    --font-CM: 'Play';
    --header-color1: rgb(138, 130, 130);
    --header-color2: rgb(132, 173, 226);
    --footer-color1: rgb(71, 71, 187);
    --footer-color2: rgb(104, 141, 165);
    --font-AM-size: 30px;
    --font-W-size: 25px;
    --font-CM-size: 25px;
}

/* Basic body styling and formatting */
body {
    background-color: var(--bg-color);
    font-family: serif;
    margin: 0;
    padding: 0;
}

/* Jumbotron main style section */
.jumbotron {
    background-image: linear-gradient(var(--header-color1), var(--header-color2));
    font-size: 30px;
    width: 100%;
    overflow: hidden;
}

/* Style section for the name element in jumbotron */
.name {
    background-color: darkslategray;
    color: aqua;
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    margin-top: 10px;
    font-size: 40px;
}

/* Changes background color for weather icon */
#icon {
    background-color: rgb(151, 149, 149);
}
/* Formating for elements within the row class */
.row {
    text-align: right;
}

/* Style and format section for all info links within the jumbotron */
.info a{
    color: rgb(46, 9, 209);
    text-decoration: none;
    margin: 10px;
    padding: 0px;
}

/* Style and Format section for the background gif */
.snow {
    display: flex;
    justify-content: space-between;
    background-image: url("https://i.gifer.com/QAOA.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

/* Style and formating for text card within the background gif */
.text {
    background-color: aliceblue;
    width: fit-content;
    position: absolute;
    padding: 5px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: var(--font-W);
    font-size: 20px;
}

/* Basic font style for the About Me section */
.AM {
    font-family: var(--font-AM);
    font-size: var(--font-AM-size);
}

/* Style and format section for all elements within the Work section of the page */
.W {
    font-family: var(--font-W);
    font-size: var(--font-W-size);
}

/* Handles style for links within the deployed app cards */
.W a {
    text-decoration: none;
    color: navy;
}

/* Style and format for the main application card. Background image is the live page of the application */
#main-app {
    background-image: url("./Assets/Hiking-Trails-Finder.png");
    height: 400px;
    width: 600px;
    margin: 20px;
    border: 5px solid aqua;
    background-size: cover;
    opacity: .5;
}

/* Style and formating for the next four app cards. */
#Application-2,
#Application-3,
#Application-4,
#Application-5{
    height: 350px;
    width: 550px;
    margin: 20px;
    border: 5px solid aqua;
    background-size: cover;
    opacity: .5;
}

/* Live application images set to background */
#Application-2 {
    background-image: url("./Assets/Code-quiz-app.png");
}
#Application-3 {
    background-image: url("./Assets/Daily-planner-app.png");
}
#Application-4 {
    background-image: url("./Assets/password-generator-app.png");
}
#Application-5 {
    background-image: url("./Assets/weather-dashboard-app.png");
}

/* Style and format for the title of the Work cards */
#Heading {
    border: 5px solid aqua;
    background-color: aqua;
    width: fit-content;
}
/* End of Work style and format section*/

/* Styling and Formating section for Contact Me cards */
.CM {
    background-image: linear-gradient(var(--footer-color2), var(--footer-color1));
}

/* Handles style and format for the text in the Contact Me section */
.CM h2,
.CM p,
.CM a{
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    font-family: var(--font-CM);
    font-size: var(--font-CM-size);
    color: bisque;
}

/* Removes underline for links in Contact Me */
.CM a {
    text-decoration: none;
}
/* End of Contact Me design section */

/* Design section for footer elements */
.End {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: darkgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(var(--footer-color1), var(--footer-color2));
}

/* Format for Work deployed application cards 3-5 to line up evenly*/
.card-group {
    display: flex;
    margin-top: 20px;
}


/* Final section: Handles interactive elements where the user hovers over a app card, it will appear to pop out */
#main-app:hover,
#Application-2:hover,
#Application-3:hover,
#Application-4:hover,
#Application-5:hover {
    opacity: 1;
    margin: 40px;
    transform: scale(1.1);
    transition: all ease-in .3s;
}
