:root {
    --bg-color: rgb(150, 148, 148);
    --font-AM: 'Teko';
    --font-W: 'Righteous';
    --font-CM: 'Play';
    --header-color1: rgb(138, 130, 130);
    --header-color2: rgb(132, 173, 226);
    --footer-color1: rgb(71, 71, 187);
    --footer-color2: rgb(104, 141, 165);
    --font-AM-size: 30px;
    --font-W-size: 25px;
    --font-CM-size: 25px;
}

body {
    background-color: var(--bg-color);
    font-family: serif;
    margin: 0;
    padding: 0;
}

.jumbotron {
    background-image: linear-gradient(var(--header-color1), var(--header-color2));
    font-size: 30px;
    width: 100%;
    overflow: hidden;
}

.name {
    background-color: darkslategray;
    color: aqua;
    width: fit-content;
    padding: 5px;
    border-radius: 12px;
    margin-top: 10px;
}

.row {
    text-align: right;
}

.info a{
    color: rgb(46, 9, 209);
    text-decoration: none;
    margin: 10px;
    padding: 0px;
}

.snow {
    display: flex;
    justify-content: space-between;
    background-image: url("https://i.gifer.com/QAOA.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
    overflow: hidden;
}

.quote {
    background-color: aliceblue;
    width: fit-content;
    position: absolute;
    padding: 5px;
    margin-top: 20px;
    margin-left: 5px;
    font-family: var(--font-W);
    font-size: 20px;
}

.AM {
    font-family: var(--font-AM);
    font-size: var(--font-AM-size);
}

.W {
    font-family: var(--font-W);
    font-size: var(--font-W-size);
}

#main-app {
    background-image: url("./Assets/Hiking-Trails-Finder.png");
    background-size: contain;
    height: 400px;
    width: 600px;
    margin: 20px;
    border: 5px solid aqua;
    background-size: cover;
    opacity: .5;
}

#Application-2,
#Application-3,
#Application-4,
#Application-5{
    height: 350px;
    width: 550px;
    margin: 20px;
    border: 5px solid aqua;
    background-size: cover;
    opacity: .5;
}

#Application-2 {
    background-image: url("./Assets/Code-quiz.png");
}

#Application-3 {
    background-image: url("./Assets/Deployed-application-screenshot.png");
}

#Application-4 {
    background-image: url("./Assets/Password-generator.png");
}

#Application-5 {
    background-image: url("./Assets/Weather-Dashboard.png");
}

#Heading {
    border: 5px solid aqua;
    background-color: aqua;
    width: fit-content;
}

.CM {
    background-image: linear-gradient(var(--footer-color2), var(--footer-color1));
}

.CM h2,
.CM p,
.CM a{
    display: inline-flex;
    flex-direction: row;
    margin: 10px;
    font-family: var(--font-CM);
    font-size: var(--font-CM-size);
    color: bisque;
}

.End {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background-image: linear-gradient(var(--footer-color1), var(--footer-color2));
}

.card-group {
    display: flex;
    margin-top: 20px;
}

#main-app:hover,
#Application-2:hover,
#Application-3:hover,
#Application-4:hover,
#Application-5:hover {
    opacity: 1;
    margin: 40px;
    transform: scale(1.1);
    transition: all ease-in .3s;
}
